# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment configuration files
.env

# Ignore virtual environment
venv/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore temporary files
*.tmp